<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }} :: {{ site.title }}</title>
  <link rel="stylesheet" href="{{site.path}}/css/country/style.css">
</head>
<body>

{% include github.html %}  
 
<style>
  body {
    max-width: 1200px;
    padding-left: 4px;
    padding-right: 4px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .headerImgHolder img {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    margin: 10px 0 10px 5px;
    padding: 7px;
    vertical-align: middle;
    width: 195px;
    max-height: 200px;
}
</style>

  
<div class="headerImgHolder">
  <img src="{{site.path}}/images/flags/{{ page.country_code }}.png">
  <img src="{{site.path}}/images/locators/{{ page.country_code }}.png">
  <img src="{{site.path}}/images/maps/{{ page.country_code }}.png">
</div>


  
<h1>{{ page.country_name }} {{ page.country_affiliation }} :: {{ page.region_name }}</h1>
  
<!--
<p>
Last Updated: {{ page.last_updated }}
</p>
-->


{{ content }}

</body>
</html>
